UpdateLogCard {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 2px 3px 2px 8px;
}


UpdateLogCard:hover {
    background-color: transparent;
    border: none;
}

UpdateLogCard:focus {
    background-color: transparent;
    border: none;
}

UpdateLogCard:disabled {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 92);
}
