QTextBrowser {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: JetBrains Mono, Alimama FangYuanTi VF;
    padding: 2px 3px 2px 8px;
}


QTextBrowser:hover {
    background-color: transparent;
    border: none;
}

QTextBrowser:focus {
    background-color: transparent;
    border: none;
}

QTextBrowser:disabled {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 92);
}
