# Ignore binary and virtual environment directories
venv/

# Ignore configuration and temporary files
config/
tmp/
dlc/
.vscode/
.idea/
test/
build/

# Ignore specific application directories and files
NapCat/
PatchConfig.json

# Ignore build artifacts and logs
/src/pysidedeploy.spec
/log/

# Ignore Python cache files
__pycache__/
*$py.class

# Ignore PDM Python environment file
.pdm-python
pdm.lock
