annotated-types==0.7.0
anyio==4.4.0
certifi==2024.7.4
colorama==0.4.6
creart==0.3.0
darkdetect==0.8.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib_metadata==7.1.0
loguru==0.7.2
Nuitka==2.3.9
ordered-set==4.1.0
psutil==5.9.8
pydantic==2.7.1
pydantic_core==2.18.2
PySide6==6.7.0
PySide6-Fluent-Widgets==1.6.3
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
PySideSix-Frameless-Window==0.4.3
pywin32==306
shiboken6==6.7.0
sniffio==1.3.1
typing_extensions==4.12.0
win32-setctime==1.1.0
zipp==3.18.1
zstandard==0.22.0