#ComponentPage,
#UpdateView {
    background: transparent;
    border-color: transparent;
}

#UnitNapCatPage,
#UnitQQPage,
#UnitNCDPage,
#UpdateView {
    background: transparent;
    border: none;
}

#ComponentPage {
    border-top-left-radius: 16px;
}
