QTextBrowser {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 2px 3px 2px 8px;
}


QTextBrowser:hover {
    background-color: transparent;
    border: none;
}

QTextBrowser:focus {
    background-color: transparent;
    border: none;
}

QTextBrowser:disabled {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 92);
}
