AddWidget,
ConfigTopCard,
#AddView {
    background: transparent;
    border-color: transparent;
}

BotWidget,
AdvancedWidget,
ConnectWidget,
#BotWidgetView,
#ConnectWidgetView,
#AdvanceWidgetView {
    background: transparent;
    border: none;
}

AddWidget {
    border-top-left-radius: 16px;
}

