SetupWidget,
SetupTopCard,
SetupScrollArea,
#SetupView {
    background: transparent;
    border-color: transparent;
}

SetupScrollArea,
#SetupView {
    background: transparent;
    border: none;
}

SetupWidget {
    border-top-left-radius: 16px;
}
